////[Table of contents]

////1. background-cover
////2. background-parallax
////3. background-rgba
////4. translate-x
////5. translate-y
////6. translate-z
////7. translate-xy
////8. font-light
////9. font-regular
////10. font-medium
////11. font-semibold
////12. font-bold
////13. scale
////14. rotate
////15. scaleY
////16. media-query
////17. media-query-bracket
////18. flex
////19. flex-inline
////20. flex-center
////21. flex-middle
////22. flex-top
////23. flex-bottom
////24. flex-right
////25. font-poppins-regular
////26. font-poppins-light
////27. font-poppins-medium
////28. font-satisfy-regular
////29. font-poppins-semibold
////30. font-myriadpro-regular
////31. font-poppins-bold

////[End table of contents]

@mixin background-cover(){
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

@mixin background-parallax(){
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

@mixin background-rgba($color, $number){
    background: rgba($color, $number);
}

@mixin translate-x($x){
   -webkit-transform: translateX($x);
   -moz-transform: translateX($x);
   -ms-transform: translateX($x);
   -o-transform: translateX($x);
   transform: translateX($x);
}

@mixin translate-y($y){
   -webkit-transform: translateY($y);
   -moz-transform: translateY($y);
   -ms-transform: translateY($y);
   -o-transform: translateY($y);
   transform: translateY($y);
}

@mixin translate-z($z){
   -webkit-transform: translateZ($z);
   -moz-transform: translateZ($z);
   -ms-transform: translateZ($z);
   -o-transform: translateZ($z);
   transform: translateZ($z);
}

@mixin translate-xy($x, $y){
   -webkit-transform: translateX($x) translateY($y);
   -moz-transform: translateX($x) translateY($y);
   -ms-transform: translateX($x) translateY($y);
   -o-transform: translateX($x) translateY($y);
   transform: translateX($x) translateY($y);
}

@mixin font-light{
    font-weight: 300;
}

@mixin font-regular{
    font-weight: 400;
}

@mixin font-medium{
    font-weight: 500;
}

@mixin font-semibold{
    font-weight: 600;
}

@mixin font-bold{
    font-weight: 700;
}

@mixin scale($number){
   -webkit-transform: scale($number);
   -moz-transform: scale($number);
   -ms-transform: scale($number);
   -o-transform: scale($number);
   transform: scale($number);
}

@mixin rotate($number){
   -webkit-transform: rotate($number);
   -moz-transform: rotate($number);
   -ms-transform: rotate($number);
   -o-transform: rotate($number);
   transform: rotate($number);
}

@mixin scaleY($number){
   -webkit-transform: scaleY($number);
   -moz-transform: scaleY($number);
   -ms-transform: scaleY($number);
   -o-transform: scaleY($number);
   transform: scaleY($number);
}

@mixin media-query($type, $breakpoint: $lap-start) {
    @if $type == "min" {
        @media (min-width: $breakpoint) { @content }
    }
    @else if $type == "max" {
        @media (max-width: $breakpoint - 1px) { @content }
    }
    @else if $type == "palm" {
        @media (max-width: $portrait-start - 1px) { @content }
    }
    @else if $type == "lap" {
        @media (min-width: $portrait-start) and (max-width: $landscape-start - 1px) { @content }
    }
    @else if $type == "desk" {
        @media (min-width: $landscape-start) { @content }
    }
    @else if $type == "wide" {
        @media (min-width: $wide-start) { @content }
    }
    @else if $type == "retina" {
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) { @content }
    }
}

@mixin media-query-bracket($from: 0, $to: 0) {
    @if $to > $from {
        @media (min-width: $from) and (max-width: $to - 1px) { @content }
    }
}

@mixin flex() {
  display : -webkit-flex;
  display : -webkit-box;
  display : -moz-flex;
  display : -moz-box;
  display : -ms-flexbox;
  display : flex;
}

@mixin flex-inline() {
  display : -ms-inline-flexbox;
  display : -webkit-inline-flex;
  display : inline-flex;
}

@mixin flex-center() {
  -ms-flex-pack           : center;
  -webkit-justify-content : center;
  -webkit-box-pack        : center;
  justify-content         : center;
  
}

@mixin flex-middle() {
  -ms-flex-align      : center;
  -webkit-align-items : center;
  -webkit-box-align   : center;
  align-items         : center;
}

@mixin flex-top() {
  -ms-flex-align      : start;
  -webkit-align-items : flex-start;
  -webkit-box-align   : start;
  align-items         : flex-start;
}

@mixin flex-bottom() {
  -ms-flex-align      : end;
  -webkit-align-items : flex-end;
  -webkit-box-align   : end;
  align-items         : flex-end;
}

@mixin flex-right() {
  -ms-flex-pack           : end;
  -webkit-justify-content : flex-end;
  -webkit-box-pack        : end;
  justify-content         : flex-end;
}

@mixin font-poppins-regular() {
    font-family : 'Poppins';
    font-weight: 400;
}

@mixin font-poppins-light() {
    font-family : 'Poppins';
    font-weight: 300;
}

@mixin font-poppins-medium() {
    font-family: 'Poppins';
    font-weight: 500;
}

@mixin font-satisfy-regular() {
    font-family: 'Satisfy Regular', cursive;
}

@mixin font-poppins-semibold() {
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 600;
}

@mixin font-myriadpro-regular() {
    font-family: 'MyriadPro Regular';
}

@mixin font-poppins-bold() {
    font-family: 'Poppins';
    font-weight: 700;
}