////[Table of contents]

////1. Color

////[End table of contents]

//// 1. Color codes ------------------------------------------------ */

// #83b735, #245cb3, #edd829, #ff7547, #5280b6, #e9292a

$primary-color-v1: #83b735;
$primary-color-v2: #245cb3;
$primary-color-v3: #edd829;
$primary-color-v4: #ff7547;
$primary-color-v5: #5280b6;
$primary-color-v6: #e9292a;