/*
    Section 1
*/
.product-sale{
    .box{
        padding: 50px 30px;
        &.box-orange{
            background: url('../images/index-3/background-orange.jpg') no-repeat center center;
            @include background-cover();
            .intro{
                .title{
                    &:before,&:after{
                        background: $primary-color-orange;
                    }
                    h3{
                        &:after{
                            content: 'HJC R-PHA';
                        }
                    }
                }
            }
        }
        &.box-green{
            background: url('../images/index-3/background-green.jpg') no-repeat center center;
            @include background-cover();
            .intro{
                .title{
                    &:before,&:after{
                        background: $primary-color-green;
                    }
                    h3{
                        &:after{
                            content: 'SHARK SX';
                        }
                    }
                }
            }
        }
        &.box-blue{
            background: url('../images/index-3/background-blue.jpg') no-repeat center center;
            @include background-cover();
            .intro{
                .title{
                    &:before,&:after{
                        background: $primary-color-blue;
                    }
                    h3{
                        &:after{
                            content: 'NOLAN N17';
                        }
                    }
                }
            }
        }
        .intro{
            display: block;
            position: relative;
            float: left;
            .title{
                display: block;
                position: relative;
                &:before,&:after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    right: auto;
                    top: auto;
                    z-index: 9;
                }
                &:before{
                    bottom: 29px;
                }
                &:after{
                    bottom: 25px;
                }
                h3{
                    font-family: 'Oswald', sans-serif;
                    font-size: 80px;
                    line-height: 85px;
                    font-weight: 500;
                    color: $default-text;
                    position: relative;
                    display: block;
                    margin-bottom: 5px;
                    margin-left: -3px;
                    &:after{
                        width: 100%;
                        z-index: 1;
                        position: absolute;
                        color: rgba(255, 255, 255, 0.2);
                        opacity: 1;
                        top: 87px;
                        right: auto;
                        bottom: auto;
                        left: 0;
                        @include gradient-text();
                    }
                }
            }
            p{
                font-family: 'Oswald', sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: $default-text;
                padding-bottom: 20px;
            }
            h5{
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: $default-text;
                position: relative;
                &:before{
                    content: '';
                    width: 50px;
                    height: 2px;
                    background: $default-text;
                    position: absolute;
                    left: 85px;
                    top: 50%;
                    @include translateY(-50%);
                }
            }
            .omb-button{
                margin-top: 30px;
                border: 1px solid $default-text;
                background: none;
                color: $default-text !important;
            }
            img{
                display: block;
                position: absolute;
                bottom: 0;
                left: 180px;
            }
        }
        .box-img{
            float: left;
            display: block;
            img{
                display: block;
                width: 100%;
                height: auto;
                max-width: 245px;
                max-height: 230px;
            }
        }
    }
}
/*
    Section 2
*/
.best-accessories{
    .menu-section{
        margin-top: 35px;
        margin-bottom: 60px;
        li{
            margin: 0 5px;
            &.uk-active,&:hover,&:focus,&:active{
                a{
                    border: 1px solid $black-text;
                    background: $default-text;
                    transition: all .5s ease;
                    .icon{
                        bottom: -8px;
                        opacity: 1;
                        transition: all .5s ease;
                    }
                }
            }
            a{
                font-family: 'Oswald', sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $black-text;
                background: $default-text;
                height: 45px;
                line-height: 45px;
                padding: 0 30px;
                border: 1px solid #e0e0e0;
                position: relative;
                transition: all .5s ease;
                .icon{
                    font-size: 18px;
                    color: $primary-color-orange;
                    background: $default-text;
                    z-index: 9;
                    padding: 0 11px;
                    opacity: 0;
                    position: absolute;
                    bottom: -16px;
                    left: 50%;
                    @include translateX(-50%);
                    transition: all .5s ease;
                }
            }
        }
    }
    .box-accessories{
        >li{
            .box{
                margin-top: 50px;
                position: relative;
                &:first-child{
                    margin-bottom: 0;
                }
				.uk-width-medium-1-3{
					display: flex;
				}
                .box-img{
                    text-align: center;
                    display: block;
                    padding: 0;
                    position: relative;
                    &:hover{
                        &:before{
                            opacity: 1;
                            bottom: 0;
                            transition: all .5s ease;
                        }
                        &:after{
                            opacity: 1;
                            bottom: -7px;
                            transition: all .5s ease;
                        }
                        .title{
                            opacity: 0;
                            transition: all .5s ease;
                        }
                    }
                    &:before,&:after{
                        z-index: 999;
                        position: absolute;
                        left: 50%;
                        @include translateX(-50%);
                        opacity: 0;
                        transition: all .5s ease;
                    }
                    &:before{
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 28px solid transparent;
                        border-right: 28px solid transparent;
                        border-bottom: 30px solid $default-text;
                        bottom: -30px;
                    }
                    &:after{
                        content: '\32';
                        font-family: 'ElegantIcons';
                        font-size: 36px;
                        color: $black-text;
                        margin-left: -2px;
                        bottom: -37px;
                    }
                    img{
                        display: block;
                    }
                    .title{
                        opacity: 1;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        @include translateY(-50%);
                        transition: all .5s ease;
                        .box-border{
                            display: inline-block;
                            background: rgba($black-text,0.15);
                            padding: 5px;
                            h3{
                                display: inline-block;
                                border: 1px solid $default-text;
                                padding: 80px 60px;
                                font-family: 'Oswald', sans-serif;
                                font-size: 50px;
                                line-height: 60px;
                                font-weight: 500;
                                color: $default-text;
                            }
                        }
                    }
                    .overlay-background{
                        background: rgba($primary-color-blue,0.85);
                        padding: 5px;
                        .box-text{
                            border: 1px solid $default-text;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .box-border{
                                width: 100%;
                                img{
                                    display: block;
                                    margin: 0 auto;
                                }
                                h3{
                                    padding-top: 20px;
                                    padding-bottom: 10px;
                                    font-family: 'Oswald', sans-serif;
                                    font-size: 50px;
                                    line-height: 60px;
                                    font-weight: 700;
                                    color: $default-text;
                                }
                                p{
                                    font-family: 'Oswald', sans-serif;
                                    font-size: 13px;
                                    font-weight: 500;
                                    color: $default-text;
                                }
                            }
                        }
                    }
                }
                .box-slider{
                    background: $default-text;
                    position: relative;
                    z-index: 9;
                    &:hover{
                        .uk-slidenav-position{
                            li{
                                .box-product{
                                    padding-bottom: 150px;
                                    transition: all .5s ease;
                                    .social{
                                        .box-icon{
                                            &:nth-child(1){
                                                bottom: 75px;
                                                opacity: 1;
                                                transition: all .5s ease;
                                            }
                                            &:nth-child(2){
                                                bottom: 75px;
                                                opacity: 1;
                                                transition: all 1s ease;
                                            }
                                            &:nth-child(3){
                                                bottom: 75px;
                                                opacity: 1;
                                                transition: all 1.5s ease;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .uk-slideset-nav{
                            bottom: -55px;
                            transition: all .5s ease;
                        }
                    }
                    .uk-slidenav-position{
                        li{
                            .box-product{
                                width: 100%;
                                border: 1px solid #e0e0e0;
                                padding: 30px 0 71px 0;
                                background: $default-text;
                                z-index: 9;
                                text-align: center;
                                position: absolute;
                                top: 0;
                                transition: all .5s ease;
                                .hot-sale{
                                    margin-bottom: 45px;
                                    position: relative;
                                }
                                img{
                                    display: block;
                                    max-height: 225px;
                                    margin: 0 auto;
                                }
                                h3{
                                    margin-top: 35px;
                                    font-family: 'Oswald', sans-serif;
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: $black-text;
                                    display: flex;
                                    justify-content: center;
                                    span{
                                        font-family: 'Oswald', sans-serif;
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: $black-text;
                                        opacity: .35;
                                        text-decoration: line-through;
                                        padding-left: 15px;
                                    }
                                }
                                p{
                                    margin-top: 10px;
                                    font-family: 'Oswald', sans-serif;
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: $black-text;
                                }
                                .social{
                                    .box-icon{
                                        display: block;
                                        position: absolute;
                                        bottom: 160px;
                                        opacity: 0;
                                        transition: all .5s ease;
                                        &:hover,&:focus,&:active{
                                            a{
                                                .icon{
                                                    color: $default-text;
                                                    background: $primary-color-blue;
                                                    transition: all .5s ease;
                                                }
                                            }
                                        }
                                        &:nth-child(1){
                                            left: 25%;
                                        }
                                        &:nth-child(2){
                                            left: 50%;
                                            @include translateX(-50%);
                                        }
                                        &:nth-child(3){
                                            right: 25%;
                                        }
                                        a{
                                            display: block;
                                            .icon{
                                                display: block;
                                                width: 50px;
                                                height: 50px;
                                                line-height: 50px;
                                                background: #ececec;
                                                border-radius: 50%;
                                                color: $black-text;
                                                font-size: 18px;
                                                transition: all .5s ease;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .uk-slideset-nav{
                        margin: 0;
                        padding: 0;
                        z-index: 999;
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        @include translateX(-50%);
                        transition: all .5s ease;
                        &:hover + .uk-slidenav-position li .box-product .social .box-icon{
                            &:nth-child(1){
                                bottom: 75px;
                                opacity: 1;
                                transition: all .5s ease;
                            }
                            &:nth-child(2){
                                bottom: 75px;
                                opacity: 1;
                                transition: all 1s ease;
                            }
                            &:nth-child(3){
                                bottom: 75px;
                                opacity: 1;
                                transition: all 1.5s ease;
                            }
                        }
                        li{
                            margin: 10px 0;
                            padding: 0 10px;
                            &:hover,&:focus,&:active,&.uk-active{
                                a{
                                    background: $primary-color-orange;
                                    transition: all .5s ease;
                                }
                            }
                            a{
                                width: 10px;
                                height: 10px;
                                background: #e8e8e8;
                                transition: all .5s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*
    Section 3
*/
.featured-products-home-three{
    background: #f3f3f3;
    .loop{
        margin-top: 60px;
        overflow: hidden;
        position: relative;
        &:before,&:after{
            content: '';
            width: 100px;
            height: 1px;
            background: $black-text;
            position: absolute;
            top: 45%;
            z-index: 9;
        }
        &:before{
            left: 17%;
        }
        &:after{
            right: 17%;
        }
        .owl-stage-outer{
            padding: 5px 0 90px 0;
            .owl-item{
                &.center{
                    .box{
                        background: $default-text;
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        &:before{
                            box-shadow: 0 0 5px rgba(0,0,0,0.2);
                            content: '';
                            background: $default-text;
                            z-index: -1;
                            position: absolute;
                            left: -10px;
                            right: -10px;
                            top: 20px;
                            bottom: 20px;
                        }
                        .shap,.count-down{
                            display: block;
                        }
                        .product{
                            .rateYo,p,h3{
                                display: block;
                            }
                        }
                    }
                }
                .box{
                    position: relative;
                    padding: 60px 60px 30px 60px;
                    .shap{
                        display: none;
                        right: 0;
                        top: 0;
                    }
                    >h3{
                        display: block;
                        text-align: center;
                        width: 100%;
                        font-family: 'Oswald', sans-serif;
                        font-size: 100px;
                        line-height: 110px;
                        font-weight: 700;
                        color: $black-text;
                        letter-spacing: 15px;
                        opacity: .1;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        @include translateY(-50%);
                    }
                    .count-down{
                        display: none;
                        position: absolute;
                        left: 60px;
                        top: 50%;
                        @include translateY(-50%);
                        &:before,&:after{
                            content: '';
                            width: 1px;
                            height: 50px;
                            background: #e6e6e6;
                            position: absolute;
                            left: 50%;
                            @include translateX(-50%);
                        }
                        &:before{
                            top: -72px;
                        }
                        &:after{
                            bottom: -72px;
                        }
                        li{
                            padding: 8px 0;
                            span{
                                display: block;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                background: #efeff0;
                                border-radius: 50%;
                                font-family: 'Oswald', sans-serif;
                                font-size: 14px;
                                font-weight: 500;
                                color: $black-text;
                                transition: all .5s ease;
                                &:hover{
                                    background: $primary-color-orange;
                                    color: $default-text;
                                    transition: all .5s ease;
                                }
                            }
                        }
                    }
                    .product{
                        display: block;
                        text-align: center;
                        img{
                            width: auto;
                            display: block;
                            margin: 0 auto;
                        }
                        .rateYo{
                            display: none;
                            top: auto;
                            left: auto;
                            margin: 15px auto 20px auto;
                        }
                        p{
                            display: none;
                            font-family: 'Oswald', sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            color: $black-text;
                            padding-bottom: 12px;
                        }
                        h3{
                            display: none;
                            font-family: 'Oswald', sans-serif;
                            font-size: 30px;
                            font-weight: 500;
                            color: $black-text;
                        }
                    }
                }
            }
        }
        .owl-nav{
            position: absolute;
            margin-top: -55px;
            top: 50%;
            right: 30%;
            @include translateY(-50%);
            &:before,&:after{
                content: '';
                width: 1px;
                height: 113px;
                background: #e6e6e6;
                position: absolute;
                left: 18px;
            }
            &:before{
                top: 90px;
            }
            &:after{
                bottom: 55px;
            }
            .owl-prev{
                position: absolute;
                margin-top: -24px;
                .icon{
                    display: block;
                    text-align: center;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border: 1px solid #e1e1e1;
                    border-radius: 50%;
                    font-size: 14px;
                    color: $black-text;
                }
            }
            .owl-next{
                position: absolute;
                margin-top: 24px;
                .icon{
                    display: block;
                    text-align: center;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border: 1px solid #e1e1e1;
                    border-radius: 50%;
                    font-size: 14px;
                    color: $black-text;
                }
            }
        }
        .owl-dots{
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include translateX(-50%);
            .owl-dot{
                width: 10px;
                height: 10px;
                background: #dcdcdc;
                border-radius: 10px;
                float: left;
                margin: 0 10px;
                transition: all .5s ease;
                &:hover,&.active{
                    background: $primary-color-orange;
                    transition: all .5s ease;
                }
            }
        }
    }
}
/*
    Section 4
*/
.sale-info-home-three{
    background: url('../images/index-3/background-hot-sale.jpg') no-repeat center center;
    @include background-cover();
    .box{
        background: $default-text;
        padding: 5px;
        &:hover{
            .box-border{
                border: 1px solid $black-text;
                transition: all .5s ease;
                img{
                    &.img-default{
                        top: -90px;
                        opacity: 0;
                        transition: all .5s ease;
                    }
                    &.img-hover{
                        top: 35px;
                        opacity: 1;
                        transition: all .5s ease;
                    }
                }
                h3{
                    padding-top: 60px;
                    padding-bottom: 70px;
                    transition: all .5s ease;
                }
                p{
                    bottom: 40px;
                    opacity: 1;
                    transition: all .5s ease;
                }
            }
        }
        .box-border{
            border: 1px solid #d9d9d9;
            padding: 45px 45px 35px 45px;
            position: relative;
            transition: all .5s ease;
            img{
                display: block;
                position: absolute;
                left: 50%;
                @include translateX(-50%);
                &.img-default{
                    top: 45px;
                    opacity: 1;
                    transition: all .5s ease;
                }
                &.img-hover{
                    top: 120px;
                    opacity: 0;
                    transition: all .5s ease;
                }
            }
            h3{
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: $black-text;
                padding-top: 130px;
                padding-bottom: 0;
                transition: all .5s ease;
            }
            p{
                font-family: 'Oswald', sans-serif;
                font-size: 13px;
                font-weight: 500;
                color: $black-text;
                position: absolute;
                bottom: -50px;
                left: 45px;
                right: 45px;
                opacity: 0;
                transition: all .5s ease;
            }
        }
    }
}
/*
    Section 5
*/
.best-cycle{
    @extend .best-accessories;
    .box{
        text-align: center;
        border: 1px solid #e0e0e0;
        padding: 30px 20px 110px 20px;
        position: relative;
        display: block;
        margin-bottom: 50px;
        &:hover{
            border: 1px solid $default-text;
            transition: all .5s ease;
            &:before{
                bottom: 0;
                opacity: 1;
                transition: all .5s ease;
            }
            &:after{
                bottom: -11px;
                opacity: 1;
                transition: all .5s ease;
            }
            .overlay-background{
                opacity: 1;
                transition: all .5s ease;
            }
        }
        &:before{
            content: '';
            width: 0;
            height: 0;
            z-index: 999;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 16px solid $default-text;
            opacity: 0;
            position: absolute;
            bottom: -16px;
            left: 50%;
            @include translateX(-50%);
            transition: all .5s ease;
        }
        &:after{
            content: '\32';
            font-family: 'ElegantIcons';
            font-size: 17px;
            color: $black-text;
            opacity: 0;
            z-index: 9999;
            position: absolute;
            bottom: -27px;
            left: 50%;
            @include translateX(-57%);
            transition: all .5s ease;
        }
        .overlay-background{
            background: url('../images/index-3/best-cycle/background-1-1.jpg') no-repeat center center;
            @include background-cover();
            opacity: 0;
            z-index: 9;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .5s ease;
        }
        .hot-sale{
            margin-bottom: 80px;
            position: relative;
        }
        img{
            display: block;
            margin: 0 auto 60px auto;
        }
        p{
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: $black-text;
        }
        .price{
            display: block;
            height: 70px;
            line-height: 70px;
            border-top: 1px solid #e0e0e0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            h3{
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                color: $black-text;
                display: block;
                width: 50%;
                position: absolute;
                bottom: 0;
                top: 0;
                &.out-of-stock{
                    opacity: .25;
                }
                span{
                    font-size: 14px;
                    opacity: .35;
                    padding-left: 15px;
                    text-decoration: line-through;
                }
                &:first-child{
                    font-size: 24px;
                    left: 0;
                    border-right: 1px solid #e0e0e0;
                    display: flex;
                    justify-content: center;
                }
                &:last-child{
                    right: 0;
                    font-size: 18px;
                }
            }
        }
        .uk-overlay-background{
            background: rgba($primary-color-blue,0.85);
            padding: 5px;
            z-index: 99;
            .box-border{
                border: 1px solid $default-text;
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 5px;
                right: 5px;
                .rateYo-hover{
                    left: auto;
                    margin: 0 auto;
                    top: 45px;
                    >.jq-ry-group-wrapper{
                        >.jq-ry-group{
                            >svg{
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
                .shop-now{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    @include translateY(-50%);
                    li{
                        display: inline-block;
                        &:hover{
                            a{
                                border-color: rgba($default-text,1);
                                transition: all .5s ease;
                            }
                        }
                        a{
                            display: block;
                            margin: 0 3px;
                            text-decoration: none;
                            border: 1px solid;
                            border-color: rgba($default-text,0.25);
                            border-radius: 25px;
                            opacity: 1;
                            transition: all .5s ease;
                            &.shop{
                                height: 50px;
                                line-height: 50px;
                                padding: 0 35px;
                                font-family: 'Oswald', sans-serif;
                                font-size: 14px;
                                font-weight: 700;
                                color: $default-text;
                                letter-spacing: 1px;
                            }
                            .icon{
                                display: block;
                                color: $default-text;
                                font-size: 18px;
                                width: 50px;
                                height: 50px;
                                line-height: 50px;
                                text-align: center;
                                opacity: 1;
                            }
                        }
                    }
                }
                p{
                    font-family: 'Oswald', sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    color: $default-text;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 45px;
                    line-height: 30px;
                }
            }
        }
    }
}
/*
    Section 6
*/
.trending{
    background: url('../images/index-3/trending/background.jpg') no-repeat center center;
    @include background-cover();
    .omb-title{
        h3{
            color: $default-text;
        }
    }
    .large-12{
        margin-top: 85px;
        .loop-three{
            position: relative;
            .box{
                background: $default-text;
                padding: 5px;
                .box-img{
                    display: block;
                    position: relative;
                    img{
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                    }
                    .overlay-background{
                        background: rgba($primary-color-blue,0.80);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            text-decoration: none;
                            .icon{
                                font-size: 70px;
                                color: $default-text;
                            }
                        }
                    }
                }
                .text{
                    padding: 30px 30px 35px 30px;
                    border: 1px solid $black-text;
                    border-top: none;
                    h3{
                        font-family: 'Oswald', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        color: $black-text;
                        padding-bottom: 15px;
                    }
                    p{
                        font-family: 'Oswald', sans-serif;
                        font-size: 13px;
                        font-weight: 500;
                        color: $black-text;
                        opacity: .35;
                    }
                }
                .meta{
                    padding: 0 30px;
                    height: 70px;
                    line-height: 70px;
                    border: 1px solid $black-text;
                    border-top: none;
                    p{
                        display: block;
                        float: left;
                        font-family: 'Oswald', sans-serif;
                        font-size: 12px;
                        font-weight: 500;
                        color: #808080;
                        span{
                            padding: 0 10px;
                        }
                    }
                    a{
                        display: block;
                        float: right;
                        font-family: 'Oswald', sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        color: $black-text;
                        transition: all .5s ease;
                        &:hover{
                            color: $primary-color-orange;
                            transition: all .5s ease;
                        }
                    }
                }
            }
            .owl-nav{
                position: absolute;
                left: 0;
                right: 0;
                top: 35%;
                @include translateY(-50%);
                .nav{
                    width: 36px;
                    height: 68px;
                    display: block;
                    position: absolute;
                    &.prev{
                        background: url('../images/index-3/trending/prev.png') no-repeat center center;
                        @include background-cover();
                        left: -95px;
                    }
                    &.next{
                        background: url('../images/index-3/trending/next.png') no-repeat center center;
                        @include background-cover();
                        right: -95px;
                    }
                }
            }
            .owl-dots{
                text-align: center;
                margin-top: 70px;
                .owl-dot{
                    display: inline-block;
                    margin: 0 10px;
                    &.active,&:hover{
                        span{
                            background: $primary-color-orange;
                            transition: all .5s ease;
                        }
                    }
                    span{
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $default-text;
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
}
/*
    Section 7
*/
.our-testimonial-home-three{
    overflow: hidden;
    background: #f3f3f3;
    text-align: center;
    .our-testimonial{
        position: relative;
        #our_testimonial{
            margin-top: 65px;
            margin-bottom: 90px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            padding: 85px 50px 45px 50px;
            background: $default-text;
            position: relative;
            &:before{
                content: '';
                width: 0;
                height: 0;
                border-left: 45px solid transparent;
                border-right: 45px solid transparent;
                border-top: 45px solid $default-text;
                position: absolute;
                bottom: -45px;
                left: 50%;
                @include translateX(-50%);
            }
            li{
                position: relative;
                &:before{
                    content: '\7b';
                    font-family: 'ElegantIcons';
                    font-size: 150px;
                    color: $black-text;
                    opacity: .1;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    @include translateX(-50%);
                }
                p{
                    font-family: 'Oswald', sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    color: #8c8c8c;
                    padding-bottom: 45px;
                }
                h3{
                    font-family: 'Oswald', sans-serif;
                    font-size: 24px;
                    font-weight: 500;
                    color: $black-text;
                    padding-bottom: 10px;
                }
                span{
                    font-family: 'Oswald', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    color: $primary-color-orange;
                }
            }
        }
        .omb-slidenav{
            top: 130px;
            bottom: auto;
            &:before{
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 0;
                font-size: 24px;
            }
            &.omb-slidenav-previous{
                left: 50px;
                &:before{
                    content: '\34';
                }
            }
            &.omb-slidenav-next{
                right: 50px;
                &:before{
                    content: '\35';
                }
            }
        }
        .testimonial-switcher{
            li{
                display: inline-block;
                margin: 0 15px;
                &.uk-active,&:hover{
                    a{
                        background: $default-text;
                        transition: all .5s ease;
                        img{
                            @include scale(1.2);
                            transition: all .5s ease;
                        }
                    }
                }
                a{
                    display: block;
                    border-radius: 50%;
                    padding: 20px;
                    transition: all .5s ease;
                    img{
                        display: block;
                        width: 103px;
                        height: 103px;
                        border-radius: 50%;
                        @include scale(1);
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
}