/* 
    Section 3
*/
.motorcycle-product-full-width{
    @extend .motorcycle-product-4-column;
    .omb-line{
        width: 1px;
        height: 75px;
        background: $black-text;
        margin: 30px auto 15px auto;
        position: relative;
    }
    a{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        color: $black-text;
        transition: all .5s ease;
        &:hover{
            color: $primary-color-orange;
            transition: all .5s ease;
        }
    }
}
