/*
    Section 3
*/
.best-product-3-column{
    @extend .best-seller;
    &.sec-padding{
        padding-top: 100px;
    }
    .omb-title{
        padding-bottom: 80px;
    }
    .seller-box{
        li{
            .box{
                position: relative;
            }
        }
    }
    .omb-button-center{
        margin-top: 80px;
        .omb-button{
            border: 1px solid #e0e0e0;
        }
    }
}

