////[Table of contents]

////1. Color

////[End table of contents]

//// 1. Color codes ------------------------------------------------ */

// #f6a81c, #5dbf1b, #2c53d4

$primary-color-orange: #f6a81c;
$primary-color-green: #5dbf1b;
$primary-color-blue: #2c53d4;

$default-text: #ffffff;
$black-text: #000000;
$second-text: #6c838f;